<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><center>Sign Up Now!!</center></h1>
    </br>   
    <center>
    <form class ="" action="/signup" method= "post">
        <p>Please fill in this form to create an account.</p></br>
        Email:  <input type="text" placeholder="Enter Email" name="email" required></br>
        Password: <input type="password" placeholder="Enter Password" name="password" required></br>
    </br>
        
        <button type="submit"><a href="/">Sign Up</a></button>
    </form>
    </center>
    
</body>
</html>